{% extends "base.html" %}

{% block title %}Spots Végétaux à Paris{% endblock %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/spots.css') }}">
{% endblock %}

{% block content %}

<section class="hero">
    <div class="container">
        <h1>🌱 Spots Végétaux à Paris</h1>
        <p>Guide éco-conçu sans carte interactive — pour découvrir la nature en ville avec un impact carbone réduit.</p>
    {% if session.get('user_id')%}
        <a href="{{ url_for('spot_new') }}" class="btn btn-secondary">Partager un spot</a>
    {% else %}
        <a href="{{ url_for('register') }}" class="btn btn-secondary">Partager un spot</a>
    {% endif %}
    </div>
</section>

<div class="search">
    <form method="GET" action="{{ url_for('spots') }}">
        <input class="search__input" type="text" name="q" placeholder="Rechercher un spot..." value="{{ request.args.get('q', '') }}">
        <button class="search__button"type="submit">🔍</button>
    </form>
</div>

<section class="grid">
    <div class="spots-container">
    {% for spot in spots %}
        <div class="card">
            <img src="{{ url_for('get_image', spot_id=spot.id) }}" alt="{{ spot.titre }}">
            <div class="card-content">
                <h2>{{ spot.titre }}</h2>
                <!-- Affichage de la note moyenne (calculée en SQL) -->
                <div class="rating-global">⭐ {{ spot.note_moyenne|round(1) if spot.note_moyenne else 'Nouveau' }}</div>
                <div class="meta">🌿 {{ spot.description[:80] }}...</div>
                <div class="tags">
                    {% for tag in spot.tags.split(',') %}
                    <span class="tag">{{ tag }}</span>
                    {% endfor %}
                </div>
                <a href="{{ spot.map_url }}" target="_blank" class="voir-spot">Voir le spot ⭢</a>
            </div>
            <a href="{{ url_for('spot_detail', spot_id=spot.id) }}" class="card-link"></a>
        </div>
    {% endfor %}
</div>
</section>
{% endblock %}